body{
    background-color: #0f1535;
}

h1{
    font-family:'Playfair Display', serif;
    margin: auto;
    text-align: center;
    background-color: #0a0a23;
    color: #bbbbc1;
    
}
.header{
    border: #0a0a23 solid 10px;
    max-width: 500px;
    margin:auto;
    min-width: 460px;
    border-radius: 20px;
    
}
#text{
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-size: small;
    border-radius: 10px;
}

#game{
    max-height: 700px;
    max-width: 500px;
    min-width: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border:#0a0a23 solid 10px;
}
#controls, #stats, #bossInfo{
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
    border-radius: 10px;
    border:#0a0a23 solid 5px;
}

#monsterStats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
    display: none;
}

.stat {
    padding-right: 10px;
    margin-left: 7%;
    font-family: 'Playfair Display', serif;
}

#bossInfo {
    padding-right: 10px;
    margin-left: 10%;
    font-family: 'Playfair Display', serif;
    text-decoration: line-through;
}


button {
    cursor: pointer;
    color: #bbbbc1;
    background-color: #0a0a23;
    background-image: linear-gradient(#0a0a23, #141465);
    border: 3px solid #15155d;
    margin-left: 10;
    width: 32.7%;
    font-family: 'Playfair Display', serif;
    font-weight: 1000;
    border-radius: 10px;
  }

.actionWindow {
    max-width: 500px;
    width: 500px;
    max-height: 700px;
    height: 300px;
    padding:1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    object-fit: cover;
    
    border: #0a0a23 solid 1px;
    
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: small;
    text-align: center;
    color: #bbbbc1;
    background-color: #0a0a23;;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display:flex;
}

.defeated {
    text-decoration: line-through;
    color: #0a0a23;
  }
